<div class="background">
  <form action="/auth/signup" method="POST" id="form-container">
    <div class='box'>
      <div class='box-form'>
        <div class='box-login-tab'></div>
        <div class='box-login-title'>
          <div class='i i-login'></div>
          <h2>SIGN UP</h2>
        </div>
        <div class='box-login'>
          <div class='fieldset-body' id='login_form'>
            <p class='field'>
              <label for='username'>Usuario</label>
              <input type='text' id='username' name='username' title='Usuario' placeholder="Suh_morenitoO_18" />
              {{#if messageU }}
              <div class="error-message">{{ messageU }}</div>
              {{/if}}
            </p>
            <p class='field'>
              <label for='email'>Email</label>
              <input type='email' id='email' name='email' title='Email' placeholder="Suh_morenitoO_18@yahoo.es" />
              {{#if messageE }}
              <div class="error-message">{{ messageE }}</div>
              {{/if}}
            </p>
            <p class='field'>
              <label for='password'>Contraseña</label>
              <input type='password' id='password' name='password' title='Contraseña'
                placeholder="Introduce la contraseña" />
              {{#if messageC }}
              <div class="error-message">{{ messageC }}</div>
              {{/if}}
            </p>
            <p class='field'>
              <label for='confirmPassword'> Confirma contraseña</label>
              <input type='password' id='confirmPassword' name='confirmPassword' placeholder="Confirma la contraseña"
                title='Confirmar contraseña' />
            </p>
            {{#if messageC }}
            <div class="error-message">{{ messageC }}</div>
            {{/if}}
            {{#if message }}
            <div class="error-message">{{ message }}</div>
            {{/if}}
            <p class="account-message aux-mes">
              ¿Ya tienes una cuenta?
              <a href="/auth/login">Login</a> <br>
              <a href="/"> Volver atrás</a>
            </p>
            <input type='submit' id='do_login' value='CREAR CUENTA' title='Crear cuenta' />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>