<div class="col-12">
  <div class="card">
    <h3 class="h3-profile">{{title}}</h3>
    <div class="info-card">
      <form action="/home/profile" method="POST" id="form-container">
        {{#if local}}
        <div class="form-group">
          <label for="title" class="laberprofile">Nombre de la carrera</label>
          <input type="text" name="title" value="{{title}}" class="inputprofile">
        </div>
        {{/if}}
        {{#if dtstart}}
        <div class="form-group">
          <label for="dtstart" class="laberprofile">Inicio de la carrera</label>
          <input type="text" name="dtstart" value="{{dtstart}}" class="inputprofile">
        </div>
        {{/if}}
        {{#if dtend}}
        <div class="form-group">
          <label for="dtend" class="laberprofile">Fin de la carrera</label>
          <input type="text" name="dtend" value="{{dtend}}" class="inputprofile">
        </div>
        {{/if}}
        {{#if local}}
        <div class="form-group">
          <label for="local" class="laberprofile">Lugar</label>
          <input type="text" name="local" value="{{local}}" class="inputprofile">
        </div>
        {{/if}}
        {{#if organization.organization-name}}
        <div class="form-group">
          <label for="organization" class="laberprofile">Organizacion</label>
          <input type="text" name="organization" value="{{organization.organization-name}}" class="inputprofile">
        </div>
        {{/if}}
        {{#if cost}}
        <div class="form-group">
          <label for="cost" class="laberprofile">Coste</label>
          <input type="text" name="cost" value="{{cost}}" class="inputprofile">
        </div>
        {{/if}}
        {{#if link}}
        <div class="form-group">
          <label for="link" class="laberprofile">Enlace</label>
          <input type="text" name="link" value="{{link}}" class="inputprofile">
        </div>
        {{/if}}
      </form>
    </div>
  </div>
</div>