<div class="col-md-4">
  <div class="card">
    <h3>{{title}}</h3>
    <div class="info-card">
      <hr>
      <ul>
        <li>
          <p class="info-p">Fecha y hora de inicio: {{dtstart}}</p>
        </li>
        <li>
          <p class="info-p">Fecha y hora de finalizacion: {{dtend}}</p>
        </li>
        {{#if local}}
        <li>
          <p class="info-p">Lugar: {{local}}</p>
        </li>
        {{/if}}
        {{#if organization.organization-name}}
        <li>
          <p class="info-p">Lugar: {{organization.organization-name}}</p>
        </li>
        {{/if}}
        {{#if cost}}
        <li>
          <p class="info-p">Coste: {{cost}}</p>
        </li>
        {{/if}}
        {{#if link}}
        <li>
          <p class="info-p">Más información <a target="_blank" href="{{link}}">aquí</a> </p>
        </li>
        {{/if}}
        {{#if owner}}
        <li>
          <p class="info-p">Creador: {{owner.username}}</p>
        </li>
        {{/if}}
        {{#if owner}}
        <li>
          <p class="info-p">E-mail: {{owner.email}}</p>
        </li>
        {{/if}}

        <li>
          {{!-- <form action="/home/api" method="post" name="favorite"> --}}
          Añadir a favoritos-> <input type="submit" name="{{id}}" value="Enviar" placeholder="Enviar"
            class="info-input">
          {{!-- </form> --}}
        </li>
      </ul>
    </div>
  </div>
</div>