<div class="col-md-4">
  <div class="card">
    <img class="" src="{{photo}}" alt="{{name}} {{lastName}}">
    <div class="">
      <h4>{{this.title}}</h4>
      <p class=""> Fecha y hora de inicio: {{this.dtstart}}</p>
      <p class=""> Fecha y hora de fin: {{this.dtend}}</p>

      <p>{{this.organization.organization-name}}</p>
      <p>Más información <a target="_blank" href="{{this.link}}">aquí</a> </p>
      <hr>
    </div>
  </div>
</div>