<div class="col-md-4">
  <div class="">
    <img class="" src="{{photo}}" alt="{{name}} {{lastName}}">
    <div class="">
      <h4>{{this.title}}</h4>
      <p class="card-text">{{this.dtstart}}</p>
      <p>Más información <a target="_blank" href="{{this.link}}">aquí</a> </p>
      <p>{{this.organization.organization-name}}</p>
      <hr>
    </div>
  </div>
</div>