<header class="navigation">
  <a href="/" class="scrollto">
    <img src="../images/BeSports.png" alt="Logotipo">
  </a>
  <nav>
    <ul>
      <li class="scrollto">
        <a href="/profile">Profile</a>
      </li>
      <li class="scrollto">
        <a href="/home">Runs</a>
      </li>
      <li class="scrollto">
        <a href="/sportcenter">sportcenter</a>
      <li class="scrollto">
        <a href="/auth/logout">Logout</a>
      </li>
      </li>
    </ul>
  </nav>

</header>
<div class="background-center">
  <h1 class="h1-centers underline">Polideportivos de Madrid</h1>

  <div class="container">

    {{#each polisInfo}}
    <div class="flex">
      <h2 class="h2-centers">{{title}}</h2>
      <p id="{{id}}" class="toggle" href="">[Mostrar información]</p>

    </div>
    <div class="collapse">
      <div class="card">
        <h3>Dirección</h3>
        <p>{{address.street-address}}, {{address.street-address.postal-code}} {{address.locality}}</p>
        <h3>Servicios</h3>
        <p>{{organization.services}}</p>
        <h3>Horarios</h3>
        <p>{{organization.schedule}}</p>
        <h3>Cómo llegar</h3>
        <p>{{organization.organization-desc}}</p>
      </div>
    </div>

    <hr>
    {{/each}}

    <figure id="placesMap"></figure>
  </div>
  {{!-- Buscar boton para ir arriba --}}
  <button id="buttonUp" class="myBtn"><img class="up" src="../../images/up.png" alt="up arrow"></button>
</div>

<script src="/javascripts/goUp.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/map.styles.js"></script>
<script src="/javascripts/map.configs.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{secret}}&callback=initMap"></script>